body {
    font-family:'Comic Sans MS';
    font-size: 20px;
    font-stretch: expanded;
    margin: 0;
}
* {
    box-sizing: border-box;
}

.header {
    padding: 60px;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: repeat-x;
    color: white;
}
.navbar {
    display: flex;
    background-color: #00264d;
    padding: 20px;
    
}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size:x-large;
}
.navbar a:hover {
        background-color: #ddd;
        color: black;
    }
.l{
    margin:auto;
    width:50%;
}

table{
    border-color:darkblue !important;
    background-color:powderblue;
}
video {
    width: 100%;
    height: auto;
}
#vid {
    margin: auto;
    width:50%;
    padding: 10px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 10px;
    
}
.myimg {
    /*background-color: #aaa;*/
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
    align-content: center;
}
.main {
    flex: 70%;
    background-color: #fafafa;
    padding: 20px;
}

img {
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    
}
.Edu{
    overflow:auto;
}

.S{
    margin-left:100px;
    margin-bottom:90px;
}

.footer {
    padding: 20px 5px 5px 5px;
    background: #0d0d0d;
    color: white;
}
.LI-profile-badge{
    position: absolute;
    right: 0px;
}
#cop {
    font-size: small;
}
.about {
    text-align: justify;
    margin: 1px 10px 1px 10px;
}
