body {
    font-family:'Comic Sans MS', Sans-serif;
    font-size: 20px;
    font-stretch: expanded;
    margin: 0;
}
* {
    box-sizing: border-box;
}

.header {
    padding: 60px;
    text-align: center;
    background-image: url("https://cdn.dribbble.com/users/211312/screenshots/5571571/artboard_1-100.jpg");
    background-repeat: repeat-x;
    opacity:0.5;
    color: white;
}
h1{
    color: red;
}
.navbar {
    display: block;
    background-color: #fcad03;
    padding: 20px;
    position:fixed;
    bottom:75%;
    
    
    
}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    
    font-size:x-large;
}
.navbar a:hover {
        background-color: #fcad03;
        color: orange;
    }
.l{
    margin:auto;
    width:50%;
}


video {
    width: 100%;
    height: auto;
}
#vid {
    margin: auto;
    width:50%;
    padding: 10px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 10px;
    
    
}
.myimg {
    /*background-color: #aaa;*/
    display:block;
    margin:auto;
    align-content: center;
    
}
.main {
    flex: 70%;
    background-color: #fafafa;
    padding: 20px;
}

img {
    border-radius: 20%;
    margin:auto;
    
}
#ab{
    margin:1px 30px 1px 30px;
}
.Edu{
    overflow:auto;
}

.S{
    margin-left:100px;
    margin-bottom:90px;
}

.footer {
    padding: 20px 5px 5px 5px;
    background: #0d0d0d;
    color: white;
}
.LI-profile-badge{
    position: absolute;
    right: 0px;
}
#cop {
    font-size: small;
}
.about {
    text-align: justify;
    margin: 1px 30px 1px 30px;
}
